*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
.tabla{
    width: 400px;
    padding: 10px;
    margin: auto;
    background-color: rgb(211, 208, 21);
    border-collapse: collapse;

    td{
        border: 3px rgb(0, 0, 0) solid;
        padding: 10px;
    }
}

.formulario{
    width: 500px;
    padding: 40px;
    margin: auto;
    margin-top: 20px;
    background-color: bisque;
    border-radius: 10px;
    border: 3px rgb(82, 82, 80) solid;
}

.registro{
    margin-left: 660px;
    width: 300px;
    padding: 10px;
    background-color: bisque;
    border-radius: 5px;
    border: 3px rgb(82, 82, 80) solid;
}
input{
    width: 300px;
    padding: 5px;
}

.boton{
    width: 100px;
    background-color: rgb(34, 34, 131);
    color: aliceblue;
}